
<%#----↓DAY８処理%>

<div class="container">
  <div class="tabs">
    <div class="tabs_item active">
      新着記事一覧
    </div>
    <div class="tabs_item">
      タイムライン
    </div>
  </div>

  <% @articles.each do |article| %> <%# rubyのメソッドを埋め込むが、表示不要なので%=にしない。＝を入れると表示されてしまう%>
    <%= link_to article_path(article) do %> <%#link_to~endでcardを囲むと投稿全体がリンクになる。ここでのarticleはeach内で定義されたローカル変数
                                                パスの指定は（id:article.id）とすることも可。リンク先のIDはarticleモデルDBのIDということ%>
      <div class="card">
        <div class="card_image">
          <%= image_tag 'eyecatch1.png' %>
        </div>
        <div class="card_content">
          <div class="card_title">
            <%= article.title%>
          </div>
          <div class="card_heart">
            <%= image_tag 'heart.svg' %>
            <span>23</span>
          </div>
          <div class="card_detail">
            <%= image_tag 'default-avatar.png' %>
            <div>
              <p>cohki0305</p>
              <p>2020/4/16</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i> <%#アイコンを表示するタグ。class名はフォントオーサムのサイトで好きなものを選べる%>
    </div>
  <% end %>
</div>
