<!DOCTYPE html>
<html>
  <head>
    <title>KumazakiBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>  <%# すべてのページに共通の影響を与える。ヘッダーやフッターを主に書く %>
    <%= yield %> <%#indexやaboutのページを読み込んでいる %>
  </body>
</html>
