<!DOCTYPE html>
<html>
  <head>
    <title>KumazakiBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#↓railsはapplication.scssだけを読み込むため、他のscssはapplicationのシートに@importを記述して集約させている%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-acale=1,0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%#↑アイコン等を読み込むツール。フォントオーサム%>
  </head>


  <body>  <%# すべてのページに共通の影響を与える。ヘッダーやフッターを主に書く %>
    <header class="header">
      <div class="header_logos">
        <% if !current_page?(root_path) %> <%#トップページで戻るボタンを表示させない処理。もしroot_path以外を表示していたら下記を実行する。
                                              ！を抜かすとroot_pathを表示していたら下記を実行することになる。！の有無に注意%>
          <%= link_to :back do %> <%# railsに用意されている戻るボタンのリンクを貼る%>
            <%= image_tag 'back.svg', class: 'header_back' %> <%# 戻るボタンのアイコン%>
          <% end %>
        <% end %>
        <p class="header_pageTitle">BlogApp</p>
      </div>
      <div class="dropdown">
        <%= image_tag 'default-avatar.png', class: 'header_avatar dropbtn'%> <%#htmlとは違い、画像はRubyのメソッドで表示する %>
        <%#入れ方はターミナルで「open .」を実行しrailsのディレクトリを開く→画像をapp>assets>imagesのディレクトリに入れる。 %>
          <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <a href="#">ログアウト</a>
          </div>
      </div>
    </header>
    <% if flash.present? %> <%# present?は値がnilじゃなければtrueになる処理。今回はflashに値が入っていればif文が実行される%>
      <div class="flash"><%#↓flashはハッシュなのでeachする時にキーとバリューを取得できる。今回はac_rbタブのnoticeとerrorがキーになっている%>
        <% flash.each do |key, value| %> 
          <div class="<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %> <%#indexやaboutのページを読み込んでいる %>
  </body>
</html>
